:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
    background-image: url(assets/background.jpg);
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    border-radius: 24px;
    margin: 48px auto;
    background-color: #F0E8C2;
}

img {
    border-radius: 16px;
}

h1 {
    line-height: 140px;
    font-size: 40px;
}

h2 {
    font: 24px;
}

h1,h2 {
    color: #291B1A;
}